﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="html._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

</head>
<body>
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <form id="form1" runat="server">
    <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
   
        <asp:UpdateProgress ID="updt1" runat="server">
        </asp:UpdateProgress>
        <asp:UpdateProgress ID="updt2" runat="server">
        </asp:UpdateProgress>
        <asp:UpdateProgress ID="updt3" runat="server">
        </asp:UpdateProgress>
    
    </form>
</body>
</html>
